<div class="container">
    <h1>Bruin Woods App
            <br>
            <small>Admin Portal</small>
        </h1>
    <hr />
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add Document</h3>
            </div>
            <!--             NEW DOCUMENT -->
            <div class="panel-body">
                <div class="form-group">
                    <label for="task" class="col-lg-12">Name:</label>
                    <input class="form-control" ng-model="file.name" name="task">
                    <br>
                    <div>
                        <label for="sel1" class="col-lg-2">Type: </label>
                        <div class="col-lg-5">
                            <input type="radio" ng-model="file.type" name="type" value="schedule"> Schedule
                        </div>
                        <div class="col-lg-5">
                            <input type="radio" ng-model="file.type" name="type" value="info"> Info
                        </div>
                    </div>
                    <br>
                    <br>
                    <label for="url" class="col-lg-12">Enter the document URL:</label>
                    <input class="form-control" ng-model="file.url" name="task">
                    <br>
                    <label for="description" class="col-lg-12">Enter a description for the document (optional):</label>
                    <input class="form-control" type="text" name="description" ng-model="file.description">
                    <br>
                    <div>
                        <label for="active" class="col-lg-2">Active: </label>
                        <div class="col-lg-5">
                            <input type="radio" ng-model="file.active" name="type" value="true"> Active
                        </div>
                        <div class="col-lg-5">
                            <input type="radio" ng-model="file.active" name="type" value="false"> Inactive
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary" ng-click=portal.addFile(file)>Add Document</button>
                <!-- <button type="button" class="btn btn-primary" ng-click=vm.updateItem()></button>
                <button type="button" class="btn btn-primary" ng-click=vm.deleteItem()></button> -->
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <!-- SCHEDULES PANEL -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Schedules
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <label>Active Schedules</label>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schedule in portal.schedules" ng-class="">
                            <td >
                                <span ng-click="showSchedule = !showSchedule">{{schedule.name}}</span>
                                <br>
                                <span ng-show="showSchedule"><br/>Schedule Time: {{schedule.startDate}} - {{schedule.endDate}}</span>
                                <div ng-show="showSchedule">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Events assigned to the schedule
                                        </div>
                                        <div class="panel-body">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Event Title </th>
                                                        <th>Description</th>
                                                        <th>Time</th>
                                                        <th>Location</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="event in schedule.eventIds">
                                                        <td>{{event.name}}</td>
                                                        <td>{{event.description}}</td>
                                                        <td>{{event.startTime}} - {{event.endTime}}</td>
                                                        <td>{{event.location}}</td>
                                                        <td><span ng-hide="editingEvent == true">
                                                            <button class="glyphicon glyphicon-remove pull-right" ng-click="portal.deleteEvent(event._id, $index, schedule._id)" ng-show="showSchedule == true" ></button>
                                                            <button class="glyphicon glyphicon-edit pull-right" ng-click="editingEvent = true" ng-show="showSchedule == true" ></button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover table-striped">
                    <thead>
                        <label>Inactive Schedules</label>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schedule in portal.inactiveSchedules">
                            <td>{{schedule.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-heading">
                Documents
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <label>Currently Active Documents:</label>
                    </thead>
                    <tr ng-repeat="doc in portal.activeDocs">
                        <td ng-dblclick=vm.selectItemByDblClk(td)>
                                <span><span ng-click="showInfo = !showInfo" >{{doc.name}}</span>
                                <input type="text" name="name" class="form-control" ng-show="editing == true" ng-model="edit.name" placeholder="{{doc.name}}">
                                </span>
                                <span ng-hide="editing == true">
                                <button class="glyphicon glyphicon-remove pull-right" ng-click="portal.deleteFile(doc._id, $index)" ng-show="showInfo == true" ></button>
                                <button class="glyphicon glyphicon-edit pull-right" ng-click="editing = true" ng-show="showInfo == true" ></button>
                            </span>
                                <br>
                                <div ng-show="showInfo == true" class="form-group">
                                    <br> PDF Url: <span><a ng-hide="editing == true" ng-href="{{doc.url}}">{{doc.url}}</a><input type="text" name="URL" class="form-control" ng-show="editing == true" ng-model="edit.url" placeholder="{{doc.url}}"></span>
                                    <br> Description: <span ng-hide="editing == true">{{doc.description}}</span><span> <input type="text" name="URL" class="form-control" ng-show="editing == true" ng-model="edit.description" placeholder="{{doc.description}}"></span>
                                    <br> Uploaded on: <span>{{doc.created_date}}</span>
                                    <br>
                                    <div ng-show="editing == true"> Active:
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" name="optradio" ng-model="edit.active" value="true">Active</label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" name="optradio" ng-model="edit.active" value="false">Inactive</label>
                                        </div>
                                    </div>
                                    <span ng-show="editing == true"><button class="button btn-default pull-right" ng-click="portal.editFile(edit, doc._id, $index)">Save</button><button class="button btn-default pull-right" ng-click="editing = false; cancelEdit(edit, doc._id)">Cancel</button></span>
                                </div>
                            </td>
                        <br>
                    </tr>
                </table>
                <table class="table table-hover table-striped">
                    <thead>
                        <label>Currently Inactive Documents:</label>
                    </thead>
                    <tbody>
                        <tr ng-repeat="doc in portal.inactiveDocs">
                            <td ng-dblclick=vm.selectItemByDblClk(td)>
                                <span><span ng-click="showInfo = !showInfo" >{{doc.name}}</span>
                                <input type="text" name="name" class="form-control" ng-show="editing == true" ng-model="edit.name" placeholder="{{doc.name}}">
                                </span>
                                <span ng-hide="editing == true">
                                <button class="glyphicon glyphicon-remove pull-right" ng-click="portal.deleteFile(doc._id, $index)" ng-show="showInfo == true" ></button>
                                <button class="glyphicon glyphicon-edit pull-right" ng-click="editing = true" ng-show="showInfo == true" ></button>
                            </span>
                                <br>
                                <div ng-show="showInfo == true" class="form-group">
                                    <br> PDF Url: <span><a ng-hide="editing == true" ng-href="{{doc.url}}">{{doc.url}}</a><input type="text" name="URL" class="form-control" ng-show="editing == true" ng-model="edit.url" placeholder="{{doc.url}}"></span>
                                    <br> Description: <span ng-hide="editing == true">{{doc.description}}</span><span> <input type="text" name="URL" class="form-control" ng-show="editing == true" ng-model="edit.description" placeholder="{{doc.description}}"></span>
                                    <br> Uploaded on: <span>{{doc.created_date}}</span>
                                    <br>
                                    <div ng-show="editing == true"> Active:
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" name="optradio" ng-model="edit.active" value="true">Active</label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" name="optradio" ng-model="edit.active" value="false">Inactive</label>
                                        </div>
                                    </div>
                                    <span ng-show="editing == true"><button class="button btn-default pull-right" ng-click="portal.editFile(edit, doc._id, $index)">Save</button><button class="button btn-default pull-right" ng-click="editing = false; cancelEdit(edit, doc._id)">Cancel</button></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
